.staffContainer{
	height:100vh;
	width:100vw;
}
.splashTitle{
	color: #C68E17;
	margin:20px;
	margin-bottom:40px;
	border-width: 5px;
	border-color: #C68E17;
	border-bottom-style: solid;
}
.splashTables{
	width: 500px;
	margin: 0 auto;
}
.splashOptionsButton{
	width: 500px;
	margin-bottom: 10px;
}